---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% if site.talks_category %}
  {% for category in site.talks_category %}
    {% assign title_shown = false %}
    {% for post in site.talks reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
